<template>
    <div class="container">
        <div class="row">
            <div class="col s12 m2.4">
                <div class="card">
                    <h2 class="center"> <i class="material-icons">import_contacts</i></h2>
                    <h4 class="center">Plan de Estudio</h4>
                    <div class="card-action center">
                        <a><router-link to="espacios">Espacios Académicos</router-link></a>
                        <a><router-link  to="criterios">Criterios</router-link></a>
                        <a><router-link  to="requisitos">Requisitos</router-link></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-panel">
                <h2 class="center">Criterios de candidatura</h2>
                <span>La Candidatura Doctoral se obtiene cuando el estudiante ha cumplido el 50% de los períodos académicos y cumple los siguientes requisitos:</span>
                <ol>
                    <li>Haber cursado y aprobado 16 créditos correspondientes a los espacios de Formación en Investigación (FI), Formación Referentes Básicos Educación y Cultura Ambiental (FRBECA) (16) y Formación en Énfasis (FE) (8), con un promedio acumulado de tres punto cinco (3.5) o más, sobre 5.0.</li>
                    <li>Certificar la proficiencia en un segundo idioma igual o superior B2.</li>
                    <li>Aprobar un examen comprensivo consistente en un (1) artículo publicado o, en su defecto, certificar la aceptación para la publicación de un artículo sobre los resultados de la Tesis Doctoral, en una revista indexada de carácter nacional o internacional, clasificada por Colciencias (Publindex) en categoría B, como mínimo y, relacionado con los avances de la investigación doctoral.</li>
                    <li>Aprobar un examen comprensivo relacionado con la fundamentación teórica de la línea de investigación en la que está inscrita la Tesis doctoral del estudiante, el cual consiste en un (1) artículo admitido para publicación en Revistas con ISSN, y/o capítulos de libro y/o ponencias presentadas en eventos académicos (nacionales o internacionales) publicada o admitida para su publicación, donde se presenten algunos resultados significativos de la Tesis Doctoral.</li>
                    <li>Tener el Proyecto de Tesis Doctoral aprobado.</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="card-panel">
                <h2 class="center">Criterios de pasantía</h2>
                <p>
                    Las pasantías son espacios concebidos para contribuir a la formación investigativa de alto nivel de los estudiantes. Con su realización se brindan oportunidades de espacio y tiempo para compartir con investigadores y grupos de investigación mediante el intercambio de desarrollos teóricos y metodológicos de modo presencial, en campos afines al Proyecto de Tesis o Tesis Doctoral. Su duración y condiciones específicas serán determinadas por los reglamentos internos de cada doctorado.
                    Las actividades a desarrollar en las pasantías, de acuerdo al avance de la investigación y la formación doctoral, entre otras son: participación en espacios académicos (cursos o seminarios) orientados por el profesor o grupo de investigación que acoge al estudiante; consecución, revisión y sistematización de fuentes primarias; profundización en los objetos de estudio que aborda el grupo de investigación; diseño o aplicación de metodologías acordes con los objetivos del Proyecto de Tesis o Tesis Doctoral; producción científica mediante la elaboración de artículos o ponencias; ajuste al proyecto de tesis, elaboración de capítulos de la tesis doctoral y otras que se consideren pertinentes para el buen desarrollo del trabajo doctoral.
                    La pasantía tiene un valor de 10 créditos, representados en 120 horas de trabajo presencial para la realización de actividades previamente programadas y avaladas por el Comité Académico del DECA y 360 horas de trabajo independiente para la ejecución de dichas actividades; en total, se deben cumplir 480 horas.
                    El estudiante podrá, previo visto bueno del Director o tutor de la tesis, realizar la pasantía de carácter internacional y/o nacional, en varios momentos de sus estudios doctorales y, según los requerimientos teóricos o metodológicos para la formulación del Proyecto de tesis o, elaboración de la Tesis doctoral.
                    La Universidad de la Amazonia pondrá a disposición del estudiante la información sobre convenios interinstitucionales vigentes para el establecimiento de los contactos necesarios para la realización de la pasantía; así mismo, gestionará administrativamente el proceso de pasantía entre las Instituciones donde se realizaren.
                    Los costos económicos de la pasantía son asumidos por el estudiante o, por becas ofrecidas por la institución donde se realiza la pasantía.
                </p>
                <h3 class="center">Aprobación de la Pasantía</h3>
                <p>
                    Para su aprobación, el estudiante debe presentar con visto bueno del Director de Tesis, el plan de actividades de pasantía, según el formato establecido por el Consejo Académico de Doctorado en Educación y Cultura Ambiental (CADECA), la carta de aceptación del investigador que lo acoge y la solicitud formal ante el CADECA, para obtener la aprobación respectiva para realizar la pasantía.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="card-panel">
                <h2 class="center">Criterios de Tesis Doctoral</h2>
                <span>El Proyecto de Tesis Doctoral corresponde a un documento de propuesta de investigación escrito en correspondencia con las normas, formatos y procedimientos definidos por el Comité Académico del Doctorado, en el que se identifiquen claramente su originalidad, pertinencia, relevancia, actualidad y viabilidad del objeto de estudio a investigar.</span>
                <span>La estructura del Proyecto de Tesis será:</span>
                <ol>
                    <li>Título.</li>
                    <li>Línea de Investigación.</li>
                    <li>Planteamiento del problema y de la pregunta de investigación.</li>
                    <li>Justificación.</li>
                    <li>Objetivos.</li>
                    <li>Hipótesis/ Supuestos Teóricos</li>
                    <li>Estado del Arte.</li>
                    <li>Marco Teórico o conceptual.</li>
                    <li>Metodología.</li>
                    <li>Resultados.</li>
                    <li>Impacto.</li>
                    <li>Productos.</li>
                    <li>Cronograma.</li>
                    <li>Presupuesto.</li>
                    <li>Referencias Bibliográficas.</li>
                </ol>
                <span>
                    Para su presentación se aplicarán las normas APA. El estudiante podrá entregar y sustentar el Proyecto de Tesis Doctoral en el momento que el Director o Tutor de Tesis lo considere pertinente. El plazo máximo para su presentación será hasta mediados del cuarto semestre. El estudiante entregará su Proyecto de Tesis doctoral al Comité Académico del Doctorado en Educación y Cultura Ambiental, previo visto bueno del Director o Tutor de Tesis, para su respectiva evaluación y sustentación pública ante tres jurados (dos externos a la Universidad y uno interno).
                </span>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>

</style>
