<template>
    <div class="container">
        <div class="row">
            <div class="col s12 m2.4">
                <div class="card">
                    <h2 class="center"> <i class="material-icons">import_contacts</i></h2>
                    <h4 class="center">Plan de Estudio</h4>
                    <div class="card-action center">
                        <a><router-link to="espacios">Espacios Académicos</router-link></a>
                        <a><router-link  to="criterios">Criterios</router-link></a>
                        <a><router-link  to="requisitos">Requisitos</router-link></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-panel">
                <h2 class="center-align">Espacios Académicos</h2>
                <p>Los espacios académicos serán homologables o validables, y de calificación cuantitativa o cualitativa según la tabla a continuación:</p>
            </div>
            <div class="col s12">
            <table class="highlight centered">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Espacio Académico</th>
                            <th>CR</th>
                            <th>SEM</th>
                            <th>TP</th>
                            <th>TI</th>
                            <th>HS</th>
                            <th>Habilitación</th>
                            <th>Homologación</th>
                            <th>Validación</th>
                            <th>Opción de Grado</th>
                            <th>Tipo Calificación</th>
                            <th>Área</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th colspan="10">Defensa de Tesis</th>
                            <th>X</th>
                            <th colspan="2">Cualitativa</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>9601012</td>
                            <td>Educación y Cultura Ambiental</td>
                            <td>4</td>
                            <td>01</td>
                            <td>48</td>
                            <td>144</td>
                            <td>192</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td></td>
                            <td>Cuantitativa</td>
                            <td>Referentes Básicos Educación y Cultura</td>
                        </tr>
                        <tr>
                            <td>9601022</td>
                            <td>Problemática Ambiental: retos y alternativas</td>
                            <td>4</td>
                            <td>01</td>
                            <td>48</td>
                            <td>144</td>
                            <td>192</td>
                            <td>NO</td>
                            <td>SI</td>
                            <td>NO</td>
                            <td></td>
                            <td>Cuantitativa</td>
                            <td>Referentes Básicos Educación  y Cultura</td>
                        </tr>
                        <tr>
                            <td>9601032</td>
                            <td>Currículos, Pedagogías y Didácticas alternativas en la Cultura Ambiental</td>
                            <td>4</td>
                            <td>01</td>
                            <td>48</td>
                            <td>144</td>
                            <td>192</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td></td>
                            <td>Cuantitativa</td>
                            <td>Referentes Básicos Educación  y Cultura</td>
                        </tr>
                        <tr>
                            <td>9601042</td>
                            <td>Investigación I</td>
                            <td>4</td>
                            <td>01</td>
                            <td>48</td>
                            <td>144</td>
                            <td>192</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td></td>
                            <td>Cuantitativa</td>
                            <td>Formación Investigativa</td>
                        </tr>
                        <tr>
                            <td>9601052</td>
                            <td>Seminario Colegiado de Tesis I</td>
                            <td>1</td>
                            <td>01</td>
                            <td>12</td>
                            <td>36</td>
                            <td>48</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td></td>
                            <td>Cualitativa</td>
                            <td>Formación Investigativa</td>
                        </tr>
                        <tr>
                            <td>9602012</td>
                            <td>Gestión de sistemas ambientales, con énfasis en la región Amazónica</td>
                            <td>4</td>
                            <td>02</td>
                            <td>48</td>
                            <td>144</td>
                            <td>192</td>
                            <td>NO</td>
                            <td>SI</td>
                            <td>NO</td>
                            <td></td>
                            <td>Cuantitativa</td>
                            <td>Referentes Básicos Educación  y Cultura</td>
                        </tr>
                        <tr>
                            <td>9602022</td>
                            <td>Electiva I Líneas de investigación I</td>
                            <td>4</td>
                            <td>02</td>
                            <td>48</td>
                            <td>144</td>
                            <td>192</td>
                            <td>NO</td>
                            <td>SI</td>
                            <td>NO</td>
                            <td></td>
                            <td>Cuantitativa</td>
                            <td>Formación en Énfasis</td>
                        </tr>
                        <tr>
                            <td>9602032</td>
                            <td>Electiva II. Líneas de investigación</td>
                            <td>4</td>
                            <td>02</td>
                            <td>48</td>
                            <td>144</td>
                            <td>192</td>
                            <td>NO</td>
                            <td>SI</td>
                            <td>NO</td>
                            <td></td>
                            <td>Cuantitativa</td>
                            <td>Formación en Énfasis</td>
                        </tr>
                        <tr>
                            <td>9602042</td>
                            <td>Seminario Investigación II</td>
                            <td>4</td>
                            <td>02</td>
                            <td>48</td>
                            <td>144</td>
                            <td>192</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td></td>
                            <td>Cuantitativa</td>
                            <td>Formación Investigativa</td>
                        </tr>
                        <tr>
                            <td>9602052</td>
                            <td>Seminario Colegiado de Tesis II</td>
                            <td>1</td>
                            <td>02</td>
                            <td>12</td>
                            <td>36</td>
                            <td>48</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td></td>
                            <td>Cualitativa</td>
                            <td>Formación Investigativa</td>
                        </tr>
                        <tr>
                            <td>9603012</td>
                            <td>Seminario Colegiado de Tesis III</td>
                            <td>1</td>
                            <td>03</td>
                            <td>12</td>
                            <td>36</td>
                            <td>48</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td></td>
                            <td>Cualitativa</td>
                            <td>Formación Investigativa</td>
                        </tr>
                        <tr>
                            <td>9603022</td>
                            <td>Pasantía</td>
                            <td>10</td>
                            <td>03</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>NO</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td></td>
                            <td>Cualitativa</td>
                            <td>Formación Investigativa</td>
                        </tr>

                        <tr>
                            <td>9604012</td>
                            <td>Investigación III</td>
                            <td>4</td>
                            <td>04</td>
                            <td>48</td>
                            <td>144</td>
                            <td>192</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td></td>
                            <td>Cuantitativa</td>
                            <td>Formación Investigativa</td>
                        </tr>
                        <tr>
                            <td>9604022</td>
                            <td>Seminario Colegiado de Tesis IV</td>
                            <td>1</td>
                            <td>04</td>
                            <td>12</td>
                            <td>36</td>
                            <td>48</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td></td>
                            <td>Cualitativa</td>
                            <td>Formación Investigativa</td>
                        </tr>
                        <tr>
                            <td>9604032</td>
                            <td>Candidatura Doctoral</td>
                            <td>10</td>
                            <td>04</td>
                            <td></td>
                            <td></td>
                            <td>480</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td></td>
                            <td>Cualitativa</td>
                            <td>Formación Investigativa</td>
                        </tr>
                        <tr>
                            <td>9605012<br>9606012</td>
                            <td>Candidatura Doctoral</td>
                            <td>10</td>
                            <td>04</td>
                            <td></td>
                            <td></td>
                            <td>480</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td>NO</td>
                            <td></td>
                            <td>Cualitativa</td>
                            <td>Formación Investigativa</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>

export default {

}
</script>

<style lang="scss" scoped>

</style>

