<template>
    <div class="container">
        <div class="row">
            <div class="col s12 m2.4">
                <div class="card">
                    <h2 class="center"> <i class="material-icons">import_contacts</i></h2>
                    <h4 class="center">Plan de Estudio</h4>
                    <div class="card-action center">
                        <a><router-link to="espacios">Espacios Académicos</router-link></a>
                        <a><router-link  to="criterios">Criterios</router-link></a>
                        <a><router-link  to="requisitos">Requisitos</router-link></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-panel">
                <h2 class="center">Requisitos de inscripción</h2>
                <table>
                    <thead>
                        <tr>
                            <th class="center">No.</th>
                            <th class="center">Tipo de Documentos</th>
                            <th class="center">Soportes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Original del recibo de consignación de la inscripción</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Fotocopia legible del documento de identidad.</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Certificado de afiliación y estado de la EPS, ARS o SISBEN</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Fotocopia del certificado electoral</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Hoja de vida en formato FO-M-DC-04-06</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Soportes Hoja de vida</td>
                            <td>Copia del Diploma o Acta de Grado del título profesional, Copia del título de Maestría.Producción académica artículos revistas indexadas.Producción académica artículos revistas no indexadas.Producción académica libros.Producción académica capítulo de libros.Producción académica ponencia.Participación en proyectos o experiencia relevante en investigación</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Certificado original de notas de los títulos profesionales obtenidos
                            (No aplica para estudiantes y/o egresados de la Universidad de la Amazonia).</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Propuesta de investigación.
                            <br>La propuesta del Proyecto de Tesis deberá ser presentado en máximo 10 páginas, sin contar la bibliografía.
                            Deberá ser escrito en letra Times New Roman tamaño 12, con Interlineado 1.15, con.
                            Margen superior e inferior de 2.5 cm y margen izquierda y derecha de 3 cm
                            </td>
                            <td>1.Título.<br> 2. Planteamiento del problema.<br> 3. Justificación.<br> 4. Objetivos. <br> 5. Hipótesis/Supuestos Teóricos.
                            <br> 6. Marco Teórico y Estado del Arte.<br> 7. Metodología.<br> 8.  Impacto y Resultados esperados.
                            <br> 9. Cronograma. <br>10. Presupuesto. <br> 11. Referencias Bibliográficas.
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Carta del posible Director o Tutor de la Tesis</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Formato FO-M-IV-05-03 de compromiso de propiedad intelectual de la Universidad de la Amazonia</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>Carta de exposición de motivos para realizar los estudios doctorales, y de
                            compromiso para disponer de recursos económicos y  tiempo para efectuarlos.
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <span>
                    Nota: Los documentos requeridos para la inscripción, deberán ser radicados en el programa del Doctorado en
                    Educación y Cultura Ambiental, donde se verificará su completitud. Posteriormente, serán remitidos hacia la oficina
                    de División de Admisiones, Registro y Control Académico, a quien corresponde la inscripción a los programas de posgrado,
                    conforme a la reglamentación expedida por el Consejo Académico.
                    El aspirante en caso de considerarlo, podrá solicitar constancia de existencia de forma total o parcial de la información relacionada y presentada.
                    Los candidatos deben entregar los documentos, en una carpeta cuatro aletas, no marcada, no rotulada.
                </span>
            </div>
        </div>
        <div class="row">
            <div class="card-panel">
                <h2 class="center">Requisitos de Admisión</h2>
                <ul  class="collection with-header">
                    <li class="collection-header">La admisión es la actividad mediante la cual el Programa de Doctorado en Educación y Cultura Ambiental,
                        realiza la selección académica de las personas que realizan la inscripción al Programa y cumplen con
                        los requisitos establecidos por la Universidad. Para ser admitido el aspirante al Doctorado en Educación
                        y Cultura Ambiental debe cumplir con los siguientes requisitos
                    </li>
                    <li class="collection-item">
                        Acreditar títulos (grado, Especialista, Magíster, Doctor),
                        producción investigativa, los cuales serán evaluados según formato diseñado
                        para la presentación de la hoja de vida.
                        <span class="badge">30 puntos de la evaluación total.</span>
                    </li>
                    <li class="collection-item">
                        Presentación escrita de la propuesta de investigación
                        la cual será evaluada por los jurados definidos por el Programa de Doctorado en Educación y Cultura Ambiental.
                        <span class="badge">35 puntos de la evaluación total.</span>
                    </li>
                    <li class="collection-item">
                        Presentar una entrevista y sustentación oral de la propuesta de investigación ante
                        los jurados designados por el Programa de Doctorado en Educación y Cultura Ambiental (20 minutos).
                        <span class="badge">35 puntos de la evaluación total.</span>
                    </li>
                    <li class="collection-item">
                        Exposición de motivos y de compromiso para disponer de recursos económicos y de tiempo para realizar
                        el programa de Doctorado (carta) Serán evaluados por los jurados definidos por el Programa de Doctorado en Educación
                        y Cultura Ambiental.
                    </li>
                </ul>
                <p>
                    El puntaje mínimo para que el aspirante sea elegible es de setenta puntos sobre cien (70/100). A partir de los resultados obtenidos, el Programa de Doctorado en Educación y Cultura Ambiental toma la decisión de acuerdo con la disponibilidad de cupos y los puntajes obtenidos.
                    El jurado para la selección de los estudiantes al Programa de Doctorado, estará compuesto por tres doctores de la Universidad de la Amazonia, uno del área de Educación, el otro del área Ambiental y otro experto en la temática de la propuesta de investigación. Serán seleccionados por el Programa de Doctorado en Educación y Cultura Ambiental y su función es evaluar todos los aspectos exigidos para la admisión de estudiantes, según los criterios y puntajes indicados en los formatos establecidos para tal fin.
                    Como resultado del proceso de selección se elaborará el acta respectiva, que será publicada en la página Web de la universidad.
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'requisitos',
}
</script>

<style lang="scss" scoped>

</style>
