<template>
    <div class="container">
        <div class="row">
            <div class="col s12 m2.4">
                <div class="card">
                    <h2 class="center"> <i class="material-icons">account_balance</i></h2>
                    <h4 class="center">¿Quienes Somos?</h4>
                    <div class="card-action center">
                        <a><router-link to="presentacion">Presentación</router-link></a>
                        <a><router-link  to="justificacion">Justificación</router-link></a>
                        <a><router-link  to="perfiles">Perfiles</router-link></a>
                        <a><router-link to="competencias">Competencias</router-link></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-panel">
                <h2 class="center-align">Capacidades y Competencias</h2>
                <p>
                    El plan de estudio del Doctorado en Educación y Cultura Ambiental está concebido para contribuir a formar y fomentar las capacidades y competencias para promover la investigación, en particular, en el campo de la educación y  cultura ambiental.
                    Para cumplir el propósito y los objetivos del doctorado, en todos los semestres está presente de manera explícita el componente investigativo mediante el ofrecimiento de los seminarios en Investigación, los Electivos en la línea de investigación en la que se inscribe las tesis
                    y con los denominados seminarios colegiados de investigación.
                </p>
                <p>De igual manera, con los seminarios de referentes básicos Educación y Cultura Ambiental, se busca favorecer la reflexión y profundización de los basamentos conceptuales de los campos de lo ambiental y la educación ambiental, que conlleven al desarrollo de capacidades investigativas y a la práctica reflexiva en la realización de actividades que contribuyan a enriquecer los proyectos de tesis y posteriormente, la tesis misma en pro de la formación de investigadores de alta calidad.</p>
            </div>
        </div>
    </div>
</template>

<script>

export default {

}
</script>

<style lang="scss" scoped>

</style>