<template>
    <div class="container">
        <div class="row">
            <div class="col s12 m2.4">
                <div class="card">
                    <h2 class="center"> <i class="material-icons">account_balance</i></h2>
                    <h4 class="center">¿Quienes Somos?</h4>
                    <div class="card-action center">
                        <a><router-link to="presentacion">Presentación</router-link></a>
                        <a><router-link  to="justificacion">Justificación</router-link></a>
                        <a><router-link  to="perfiles">Perfiles</router-link></a>
                        <a><router-link to="competencias">Competencias</router-link></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-panel">
            <h2 class="center-align">Justificación</h2>
            <p>
                La Universidad de la Amazonia sede del Doctorado en Educación y Cultura Ambiental, se enclava en el territorio interandino y amazónico que se contacta con los Llanos Orientales, en el contexto nacional e internacional, con las repúblicas del Ecuador, Perú y Brasil. En este territorio existen ecorregiones y ecosistemas estratégicos entre los que se localizan los parques nacionales naturales cordillera los Picachos, serranía de Chiribiquete, Fragua-Indiwasi, serranía de los Churumbelos, Amacayacu, Cahuinari, Pure. Además, en estos territorios se distribuyen de manera total o parcial varios ríos, cuencas hidrográficas y otros ecosistemas estratégicos de importancia como los ríos Caquetá, Putumayo y Amazonas.
                <br><br>
                Se requiere fortalecer el conocimiento teórico y práctico sobre los ecosistemas, su manejo y su cuidado, lo cual se logra mediante procesos de educación, investigación y construcción de cultura ambiental; ámbitos de acción del Doctorado en Educación y Cultura Ambiental. El Doctorado en Educación y Cultura Ambiental proyecta contribuir a la construcción de conocimientos científicos, curriculares, pedagógicos, axiológicos, metodológicos para lograr que los comportamientos culturales conduzcan al uso racional y conservación de recursos naturales renovables y ecosistemas estratégicos, así como a la utilización de energías limpias y la gestión responsable de los recursos naturales y el bienestar de las generaciones futuras.
                <br><br>
                Para esto, se hace necesario formar capital humano de alto nivel, con el fin de generar conocimiento pertinente al tema, incidan en el diseño de políticas públicas y planteen estrategias pedagógicas para la formación de la conciencia ambiental y la construcción de una cultura respetuosa del ambiente. De ahí, la importancia del Programa Doctoral en Educación y Cultura Ambiental.
                <br><br>
                El Doctorado se convertirá en una respuesta concreta a la necesidad de llenar el vacío existente en el país, de formación de doctores en esta área para la generación de conocimiento pertinente a las necesidades regionales, el establecimiento de redes del conocimiento, la apropiación social del conocimiento, y en general, en el fortalecimiento de las capacidades en Ciencia, Tecnología e Innovación de la región de la Amazonia.
                <br><br>
                Uno de los retos del Doctorado en Educación y Cultura Ambiental es la construcción de cultura ambiental entendida como la preservación, conservación y usos de los recursos naturales desde la perspectiva del desarrollo sustentable, la gobernanza y responsabilidad social que, garantice su aprovechamiento de manera sustentable y prácticas de conservación que mantengan su estructura natural y funciones ecológicas fundamentales. La responsabilidad social se requiere para preservar y sustentar todo lo relacionado con el cosmos. Velar por la conservación y renovación del ambiente es cuidar la vida. Crear esta conciencia es muy importante porque se fomentará la cultura ambiental y el convencimiento entre las personas que, si cuidamos el entorno, protegemos nuestro país y nuestro planeta; por consiguiente, al conservar la naturaleza dejaremos un legado para las futuras generaciones y se trabajará por un presente y un futuro mejor.
                <br><br>
                El proceso de formación doctoral ha de propender por la comprensión y apreciación de los valores de la investigación científica y el compromiso de aplicar los estándares científicos en todas las actividades docentes, investigativas o productivas en el sector académico, gubernamental o industrial. La formación doctoral posibilita, además, el desarrollo de las habilidades para el liderazgo de grupos de investigación en la formación de nuevos investigadores a través de los proyectos de investigación de alta calidad y la generación de conocimiento con reconocimiento nacional e internacional.
            </p>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="scss" scoped>

</style>

