<template>
    <div class="container">
        <div class="row">
            <div class="col s12 m2.4">
                <div class="card">
                    <h2 class="center"> <i class="material-icons">account_balance</i></h2>
                    <h4 class="center">¿Quienes Somos?</h4>
                    <div class="card-action center">
                        <a><router-link to="presentacion">Presentación</router-link></a>
                        <a><router-link  to="justificacion">Justificación</router-link></a>
                        <a><router-link  to="perfiles">Perfiles</router-link></a>
                        <a><router-link to="competencias">Competencias</router-link></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-panel">
                <h2 class="center-align">Perfil de Egreso</h2>
                <p>
                    • Formación sólida y profunda como investigador en el campo de la Educación y la Cultura Ambiental.
                    <br><br>
                    • Líder de Grupos de Investigación de la más alta calidad y excelencia en el campo local, regional e nacional.
                    <br><br>
                    • Director, promotor y ejecutor de líneas de Investigación en el campo de la Educación y la Cultura Ambiental en el contexto de las necesidades locales, regionales y nacionales.
                    <br><br>
                    • Interlocutor válido de las políticas públicas locales, regionales y nacionales en el campo de la
                    Educación y la Cultura Ambiental.
                    <br><br>
                    Es decir, el eje central de la formación gira en torno a la formación como investigador, en consecuencia, su perfil se enfoca en el desarrollo de capacidades y habilidades investigativas para ser investigador de problemas locales, nacionales o internacionales relacionados con la Educación y la Cultura Ambiental, las cuales se evidenciarán en el liderazgo de los grupos de investigación,
                    el desarrollo de líneas y promotor de políticas en dichos campos del saber.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="card-panel">
                <h2 class="center-align">Perfil de Ingreso</h2>
                <p>Profesionales de todas las disciplinas interesados en desarrollar procesos de investigación, liderazgo y compromiso con la consolidación de la Cultura y Educación ambiental</p>
                <p>Un profesional con perfil para trabajar en equipo de manera colaborativa y cooperativa; abierto al diálogo de saberes, a la divergencia pero al mismo tiempo al consenso</p>
            </div>
        </div>
    </div>
</template>

<script>

export default {

}
</script>

<style lang="scss" scoped>

</style>