<template>
    <div class="container">
        <div class="row">
            <div class="col s12 m2.4">
                <div class="card">
                    <h2 class="center"> <i class="material-icons">account_balance</i></h2>
                    <h4 class="center">¿Quienes Somos?</h4>
                    <div class="card-action center">
                        <a><router-link to="presentacion">Presentación</router-link></a>
                        <a><router-link  to="justificacion">Justificación</router-link></a>
                        <a><router-link  to="perfiles">Perfiles</router-link></a>
                        <a><router-link to="competencias">Competencias</router-link></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-panel">
                <h2 class="center-align">Misión</h2>
                <p>El Doctorado en Educación y Cultura Ambiental está comprometido con la formación integral de un talento humano idóneo y del más alto nivel para el desarrollo de la investigación en el campo intelectual de la educación y la cultura ambiental, con fundamentación científica multi e interdisciplinar, capacidades investigativas que estimulen su vinculación en la solución de la problemática regional y nacional para la generación de nuevo conocimiento e incida en la apropiación y transformación crítica de la cultura ambiental a través de la flexibilidad y la cooperación nacional e internacional y consolide valores que promuevan la ética, la solidaridad, la convivencia y la justicia social.</p>
            </div>
        </div>
        <div class="row">
            <div class="card-panel">
                <h2 class="center-align">Visión</h2>
                <p>El programa de Doctorado en Educación y Cultura Ambiental será un programa de alto nivel y calidad en la formación de investigadores en el campo de la educación y cultura ambiental desde una perspectiva inter y transdisciplinaria integral, para generar corrientes de pensamiento diverso y crítico capaces de influir en el cambio de cultura de respeto y responsabilidad social con el ambiente y el ser humano.</p>
            </div>
        </div>
    </div>
</template>

<script>

export default {

}
</script>

<style lang="scss" scoped>

</style>
