<template>
    <div class="container">
        <div class="row">
            <div class="card-panel">
                <h2 class="center">Profesores Primera Cohorte</h2>
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                Nelson Ernesto López Jiménez
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Interinstitucional en Educación.</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Problemática curricular de la educación y la cultura ambiental.</li>
                                <li>Formulación de proyectos de investigación.</li>
                                <li>Estrategias de evaluación de los procesos educativos.</li>
                                <li>Investigación para la educación y la cultura ambiental.</li>
                                <li>Currículos, pedagogías y didácticas alternativas en la cultura ambiental.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:nelopez53@gmail.com">nelopez53@gmail.com</a>
                            <h5>Cvlac</h5>
                            <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000186023">CVlac</a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                José Manuel Ochoa Quintero
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Zoología, Biología de la Conservación. Universidad Federal De Mato Grosso Do Sul.</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Investigación en Biodiversidad como una estrategia pedagógica alternativa</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:jmochoaquintero@gmail.com">jmochoaquintero@gmail.com</a>
                            <h5>Cvlac</h5>
                            <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000414786">CVlac</a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                Alfredo Olaya Amaya
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Ingeniería Recursos en Hidráulicos. Universidad Nacional de Colombia Sede Medellín</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Gestión de sistemas ambientales.</li>
                                <li>Ecosistemas estratégicos, un reto por enfrentar, un proceso por desarrollar.</li>
                                <li>Investigación para la educación y la cultura ambiental.</li>
                                <li>El ordenamiento de cuencas hidrográficas.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:alolaya@usco.edu.co">alolaya@usco.edu.co</a>
                            <h5>Cvlac</h5>
                            <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000310883">CVlac </a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                Campo Elías Pardo Turriago
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Ciencias - Estadística. Universidad Nacional de Colombia Sede Bogotá.</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Fundamentación y diseños estadísticos.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:cepardot@unal.edu.co">cepardot@unal.edu.co</a>
                            <h5>Cvlac</h5>
                            <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000242900">CVlac</a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/mujer.png" alt="Contact Person">
                                Martha Patricia Vives Hurtado
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Sociología Jurídica e Instituciones Políticas. Universidad Externado de Colombia</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Enfoques metodológicos de la investigación científica.</li>
                                <li>Formulación de proyectos de investigación.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:vivesmp@gmail.com">vivesmp@gmail.com</a>
                            <h5>Cvlac</h5>
                            <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000417165">CVlac</a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                Carlos Bolívar Bonilla Baquero
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Ciencias Sociales Niñez y Juventud. Universidad de Manizales</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Enfoques pedagógicos que subyacen a la problemática de la educación y la cultura ambiental.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:juancarlosacebedo@gmail.com ">juancarlosacebedo@gmail.com </a>
                            <h5>Cvlac</h5>
                            <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000449407">CVlac</a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                Diego Fernando Barragán Giraldo
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Educación y Sociedad. Universidad de Barcelona</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Acerca de la naturaleza del conocimiento científico.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:diegobg1@yahoo.com">diegobg1@yahoo.com</a>
                            <h5>Cvlac</h5>
                            <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000542482">CVlac</a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                Juan Carlos Acebedo Restrepo
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Comunicación. Universidad  Nacional de la Plata</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Sociedad, Naturaleza y Cultura Ambiental.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:juancarlosacebedo@gmail.com ">juancarlosacebedo@gmail.com </a>
                            <h5>Cvlac</h5>
                            <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000449407">CVlac</a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                Mario Sánchez Ramirez
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Biology. Virginia Polytechnic Institute and State University.</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Sociedad, Naturaleza y Cultura Ambiental.</li>
                            </ol>
                            <h5>Cvlac</h5>
                            <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000280305">CVlac</a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                Pablo Ariel Vommaro
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Ciencias Sociales. Universidad de Buenos Aires</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Sociedad, Naturaleza y Cultura Ambiental.</li>
                            </ol>
                            <h5>Cvlac</h5>
                            <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0001383863">CVlac</a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                Eduardo Pastrana
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Food Science. University Of Georgia</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Electivo: Prácticas de laboratorio aplicadas a la Educación Ambiental</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:pastrana@usco.edu.co">pastrana@usco.edu.co</a>
                            <h5>Cvlac</h5>
                            <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000317934">CVlac</a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/mujer.png" alt="Contact Person">
                                Paula Meli
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Ecología, Conservación y Restauración de Ecosistemas. Universidad de São Paulo. Brasil</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Restauración Ecológica, una Alternativa para la Construcción de Cultura Ambiental.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:atajacaminos@yahoo.com">atajacaminos@yahoo.com</a>
                            <h5>Cvlac</h5>
                            <a href="http://www.oikos.unam.mx/LECT/index.php/miembros/9-perfiles/16-paula-meli">CVlac</a>
                        </div>
                    </li>
                     <li>
                        <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                Javier Fayad Sierra
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Niñez y Subjetividad. Universidad de Manizales CINDE</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>La Educación y la Cultura Ambiental en el Contexto del Postconflicto.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:javier.fayad@correounivalle.edu.co">javier.fayad@correounivalle.edu.co</a>
                            <h5>Cvlac</h5>
                            <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000320730">CVlac</a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                Gian Carlo Delgado
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Ciencias Ambientales. Universidad de Autónoma de Barcelona</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Dimensión internacional de la problemática ambiental.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:giandelgado@unam.mx">giandelgado@unam.mx</a>
                            <h5>Cvlac</h5>
                            <a href="http://www.giandelgado.net/integrante">Sistema Nacional de Investigadores del Consejo Nacional de Ciencia y Tecnología de México</a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                Efraín de Jesús Arismendi
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Ciencias Pedagógicas. Instituto Pedagógico Latinoamericano y del Caribe. IPLAC</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Investigación en Biodiversidad como una Estrategia Pedagógica Alternativa.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:efrainarismendi@gmail.com">efrainarismendi@gmail.com</a>
                            <h5>Cvlac</h5>
                            <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000371874">CVlac</a>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                Efrén Alberto Gonzales García
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Calidad y Evaluación de Instituciones, Programas e Intervención Psicopedagógica. Universidad Complutense de Madrid</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Investigación en Biodiversidad como una Estrategia Pedagógica Alternativa.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:efrenalbertogonzalez@gmail.com">efrenalbertogonzalez@gmail.com</a>
                            <h5>Cvlac</h5>
                            <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000773441">CVlac</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="card-panel">
                <h2 class="center">Directores de Tesis</h2>
                <ul class="collection">
                    <li class="collection-item avatar">
                        <img src="@/assets/images/mujer.png" alt="Contact Person" class="circle responsive-img">
                        <h3 class="center">Lillyam López de Parra</h3>
                        <h4>Título</h4>
                        <span>PhD en Interinstitucional en Educación. Universidad Distrital Francisco José de Caldas.</span>
                        <h4>Correo electrónico</h4>
                        <span>lillyamlopez@yahoo.es</span>
                        <h4>Cvlac</h4>
                        <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000225550">http://scienti.colciencias</a>
                        <h4>Trabajo de tesis</h4>
                        <p>
                            Representaciones sociales: Dimensiones Educativa y Ambiental del Ecoturismo y Conservación del Territorio en el posacuerdo. Incidencia de  la formación socio cultural en turismo de naturaleza sobre las percepciones de la mitigación de la deforestación. Representaciones Sociales sobre condiciones educativas y culturales para la preservación hídrica. Agentes Socioculturales. Florencia Caquetá.
                        </p>
                    </li>
                    <li class="collection-item avatar">
                        <img src="@/assets/images/mujer.png" alt="Contact Person" class="circle responsive-img">
                        <h3 class="center">Guillermina Rojas Noriega</h3>
                        <h4>Título</h4>
                        <span>PhD en Ciencias Pedagógicas. Instituto Central de Ciencias Pedagógicas (Habana Cuba).</span>
                        <h4>Correo electrónico</h4>
                        <span>guillerminarojasn@gmail.com</span>
                        <h4>Cvlac</h4>
                        <a href="https://scienti.colciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000722251">http://scienti.colciencias</a>
                        <h4>Trabajo de tesis</h4>
                        <p>
                            Juego educativo y huella hídrica: alternativa que sensibiliza estudiantes universitarios en la gestión del recurso hídrico.
                        </p>
                    </li>
                    <li class="collection-item avatar">
                        <img src="@/assets/images/hombre.jpg" alt="Contact Person" class="circle responsive-img">
                        <h3 class="center">Bernardo Emilio García Quiroga</h3>
                        <h4>Título</h4>
                        <span>PhD en Ciencias Pedagógicas. Instituto Central de Ciencias Pedagógicas (Habana Cuba).</span>
                        <h4>Correo electrónico</h4>
                        <span>bgarciaquiroga@hotmail.com</span>
                        <h4>Cvlac</h4>
                        <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000815888">http://scienti.colciencias</a>
                        <h4>Trabajo de tesis</h4>
                        <p>Aportes de la modelación matemática a la construcción de conocimiento sobre conservación del agua con Estudiantes de Educación Básica Primaria. Ecoalfabetización y Gamificación: una alternativa educativa frente a los residuos electrónicos.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'primeracohorte',
    // aqui va el script necesario para correr el efecto de abrir el espacio de los profesores
    created () {
        document.addEventListener('DOMContentLoaded', function() {
          console.log('probando');
          var elems = document.querySelectorAll('.collapsible');
          var instances = M.Collapsible.init(elems);
        });
    },
    mounted () {
        console.log('probando dos');
        require('@/assets/materialize/js/materialize.js');
    }
}
</script>

<style lang="css" scoped>

</style>

