<template>
    <div class="container">
        <div class="row">
            <div class="card-panel">
                <h2 class="center">Profesores Segunda Cohorte</h2>
                <ul class="collapsible">
                    <li>
                         <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                Adolfo Agundez Rodriguez
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Educación. Universidad de Sherbrooke (Canadá).</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Educación y cultura ambiental.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:agundez-rodriguez.adolfo@uqam.ca">agundez-rodriguez.adolfo@uqam.ca</a>
                        </div>
                    </li>
                    <li>
                         <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                José Eleazar Padrón Guillén
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Planificación Educacional. Universidad Nacional Experimental Simón Rodriguez.</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Investigación I</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:josepadrong@gmail.com">josepadrong@gmail.com</a>
                        </div>
                    </li>
                    <li>
                         <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/mujer.png" alt="Contact Person">
                                Claudia Yolanda Reyes
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Geología. Universidad Federal Da Bahia (Brasil).</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Problemática ambiental: Retos y alternativas.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:cl.reyes@udla.edu.co">cl.reyes@udla.edu.co</a>
                        </div>
                    </li>
                    <li>
                         <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                Jorge Rafael Villadiego Lorduy
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Ciencias Naturales para el Desarrollo. Nacional Heredia (Costa Rica).</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Problemática ambiental: Retos y alternativas.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:villalord15@yahoo.es">villalord15@yahoo.es</a>
                        </div>
                    </li>
                    <li>
                         <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/mujer.png" alt="Contact Person">
                                Alba Leonilde Suárez Arias
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Educación Ambiental. Nacional Heredia (Costa Rica).</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Curriulo, pedagogía y didácticas alternativas en la cultura ambiental.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:alsuarez@uniquindio.edu.co">alsuarez@uniquindio.edu.co</a>
                        </div>
                    </li>
                    <li>
                         <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/mujer.png" alt="Contact Person">
                                María Rocío Pérez Mesa
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Educación. Distrital Francisco José de Caldas</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Currículos Pedagogías y Didácticas Alternativas en la Cultura Ambiental.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:mrociop@gmail.com">mailto:mrociop@gmail.com</a>
                        </div>
                    </li>
                    <li>
                         <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                Julio Cesar Acosta Prado
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Administración. Distrital de Sao Pablo</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Investigación II.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:jcap2000@hotmail.com">jcap2000@hotmail.com</a>
                        </div>
                    </li>
                    <li>
                         <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                Alfredo Olaya Amaya
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Ingeniería Área Recursos Hidráulicos.Universidad Nacional de Colombia sede Medellín</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Getión de Sistemas Ambientales con Énfasis en la Región Amazónica.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:alolaya@usco.edu.co">alolaya@usco.edu.co</a>
                        </div>
                    </li>
                    <li>
                         <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/mujer.png" alt="Contact Person">
                                Florinda Sánchez Moreno
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Nuevos Recursos y Sustentabilidad en Turismo.Universidad Nacional de Salamanca.</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Eco-turismo.</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:fsanmor@gmail.com">fsanmor@gmail.com</a>
                        </div>
                    </li>
                    <li>
                         <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                José Ramón Díez López
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Ciencias Sección de Biológicas. Universidad del País Vasco</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Investigación II</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:joseramon.diez@ehu.eus">joseramon.diez@ehu.eus</a>
                        </div>
                    </li>
                    <li>
                         <div class="collapsible-header">
                            <div class="chip">
                                <img src="@/assets/images/hombre.jpg" alt="Contact Person">
                                Francisco Javier García
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h5>Título</h5>
                            <span>PhD en Ingeniería Línea en Automática. Universidad Nacional de Colombia sede Manizales</span>
                            <h5>Seminarios Orientados</h5>
                            <ol>
                                <li>Didácticas y estratégias de la Educación Ambiental</li>
                            </ol>
                            <h5>Correo electrónico</h5>
                            <a href="mailto:javier.garcia-gomez@uv.es">javier.garcia-gomez@uv.es</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'segundacohorte',
    created () {
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.collapsible');
          var instances = M.Collapsible.init(elems);
        });
    },
     mounted () {
        console.log('probando dos');
        require('@/assets/materialize/js/materialize.js');
    }
}
</script>

<style lang="scss" scoped>

</style>
