<template>
    <div class="container">
        <div class="row">
            <div class="col s12 m2.4">
                <div class="card">
                    <h2 class="center"> <i class="material-icons">school</i></h2>
                    <h4 class="center">Investigación</h4>
                    <div class="card-action center">
                        <a><router-link to="grupos">Grupos</router-link></a>
                        <a><router-link  to="lineas">Líneas</router-link></a>
                        <a><router-link  to="programas">Programas</router-link></a>
                        <a><router-link  to="productos">Productos</router-link></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-panel">
                <h2 class="center">Grupos de Investigación</h2>
                <table class="highlight centered">
                    <thead>
                        <tr>
                            <th>Nombre del Grupo</th>
                            <th>GrupLac</th>
                            <th>Clasificación</th>
                            <th>Líder</th>
                            <th>Programa Nacional de Ciencia y Tecnología</th>
                            <th>Página Web</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lenguajes, Representaciones y Educación</td>
                            <td><a href="http://scienti.colciencias.gov.co:8085/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000000836">GrupLac</a></td>
                            <td>B</td>
                            <td>Herminsul Jiménez Mahecha. Ph.D</td>
                            <td>Ciencia, Tecnología e Innovación en Ciencias Humanas, Sociales y Educación</td>
                            <td><a href="www.elitv.org">www.elitv.org</a></td>
                        </tr>
                        <tr>
                            <td>Calidad y Preservación de Ecosistemas Acuáticos</td>
                            <td><a href="http://scienti.colciencias.gov.co:8085/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000000649">GrupLac</a></td>
                            <td>B</td>
                            <td>Marlon Peláez Rodríguez. Ph.D</td>
                            <td>Ciencia, Tecnología e innovación en Ambiente, Biodiversidad y Hábitat</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Fauna Silvestre</td>
                            <td><a href="http://scienti.colciencias.gov.co:8085/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000000168">GrupLac</a></td>
                            <td>B</td>
                            <td>Gloria Elena Estrada Cely. Ph.D</td>
                            <td>Ciencia, Tecnología e innovación en Ambiente, Biodiversidad y Hábitat</td>
                            <td><a href="www.udla.edu.co">www.udla.edu.co</a></td>
                        </tr>
                        <tr>
                            <td>Micología GINMUA</td>
                            <td><a href="http://scienti.colciencias.gov.co:8085/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000004516">GrupLac</a></td>
                            <td>B</td>
                            <td>Armando Sterling Cuellar. Ph. D</td>
                            <td>Ciencias Básicas</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>

</style>
