<template>
    <div class="container">
        <div class="row">
            <div class="col s12 m2.4">
                <div class="card">
                    <h2 class="center"> <i class="material-icons">school</i></h2>
                    <h4 class="center">Investigación</h4>
                    <div class="card-action center">
                        <a><router-link to="grupos">Grupos</router-link></a>
                        <a><router-link  to="lineas">Líneas</router-link></a>
                        <a><router-link  to="programas">Programas</router-link></a>
                        <a><router-link  to="productos">Productos</router-link></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-panel">
                <h2 class="center">Líneas de investigación</h2>
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Línea</th>
                            <th>Aspectos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Enfoques educativos para la construcción de una cultura ambiental</td>
                            <td>Los diferentes Grupos de Investigación que en campo de la educación participan en este proyecto doctoral, cuentan con desarrollos investigativos inherentes a la problemática relacionada con los enfoques educativos y su aporte e impacto en la consolidación de la Cultura Ambiental. En esta línea se concentrarán como insumo determinante investigaciones relacionadas con las problemáticas que subyacen en contextos escolares y no escolares en relación con los modelos, enfoques, prácticas y acciones formativas muy en consonancia con la problemática ambiental expresada en sus diferentes manifestaciones</td>
                        </tr>
                        <tr>
                            <td>Currículo, pedagogía, didáctica y evaluación de la educación y de la cultura ambiental</td>
                            <td>La complejidad que reviste el estudio de procesos directamente relacionados con la educación formal y no formal exige retomar desarrollos y producciones investigativas en conceptos considerados estructurantes de la concepción de formación; por ello, esta línea integra investigaciones relacionadas con lo curricular, pedagógico, didáctico y evaluativo, imbricados en la región del conocimiento construida a partir de la relación Educación y Cultura Ambiental</td>
                        </tr>
                        <tr>
                            <td>Formación para la gestión de sistemas ambientales</td>
                            <td>Esta línea de investigación tiene como objetivo identificar, describir y jerarquizar los ecosistemas estratégicos de las regiones de influencia del Doctorado, en especial la Región Amazónica, con la profundización en áreas de mayor significado como las eco-regiones y con la vinculación de los grupos humanos que interactúan con ellos, para la elaboración de modelos de gestión que enriquezcan el conocimiento, la divulgación de valores ambientales y el aprovechamiento sostenible en esos ecosistemas estratégicos</td>
                        </tr>
                        <tr>
                            <td>Formación en biodiversidad y ecosistemas estratégicos</td>
                            <td>Esta línea de investigación tiene como objetivo ampliar y profundizar los grupos taxonómicos y el nivel de detalle en los estudios biológicos y ecológicos en las regiones de influencia del Doctorado, en especial la Región Amazónica, así como deberá enfatizar en elementos como las especies endémicas y con diversos grados de vulnerabilidad de sus poblaciones, pues ellas adquieren trascendencia global, por las amenazas generalizadas a su supervivencia y el deterioro de las condiciones ambientales que han propiciado la gran diversidad regional</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>

</style>
