<template>
    <div class="container">
        <div class="row">
            <div class="col s12 m2.4">
                <div class="card">
                    <h2 class="center"> <i class="material-icons">school</i></h2>
                    <h4 class="center">Investigación</h4>
                    <div class="card-action center">
                        <a><router-link to="grupos">Grupos</router-link></a>
                        <a><router-link  to="lineas">Líneas</router-link></a>
                        <a><router-link  to="programas">Programas</router-link></a>
                        <a><router-link  to="productos">Productos</router-link></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-panel">
                <h2 class="center">Programas de Investigación</h2>
                <div class="card">
                    <div>
                        <span class="card-title activator grey-text text-darken-4"><h4 class="center">Artículos</h4></span>
                        <i class=" Medium material-icons">content_paste</i>
                        <table>
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th class="center">Artículos</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr>
                                    <td>1</td>
                                    <td>Correa-Cruz, L., Pascuas-Rengifo, Y. & Marlés-Betancourth, C. (2016). Desafíos para asumir la educación
                                    y la cultura ambiental. Revista Horizontes Pedagógicos, 18(1)34-42.<br>
                                    Recuperado de <a href="https://revistas.iberoamericana.edu.co/index.php/rhpedagogicos/article/view/845/833">https://revistas.iberoamericana.edu.co/index.php/rhpedagogicos/article/view/845/833</a>
                                </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>López, L., Correa, L. & Rojas-Bahamón, M. (2017). Representaciones Sociales: formación y uso de tecnologías de información y comunicación.
                                    Profesores de Educación Básica Secundaria. Revista Virtual Universidad Católica del Norte, 50, 256-276.
                                    <br>Recuperado de <a href="http://revistavirtual.ucn.edu.co/index.php/RevistaUCN/article/view/823/1341">http://revistavirtual.ucn.edu.co/index.php/RevistaUCN/article/view/823/1341</a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Rojas-Bahamón, M., Arbeláez, D., Prieto. J. D. (2017). Análisis del desempeño escolar de estudiantes de secundaria en función de asignaturas, estrato socioeconómico y conflicto armado.
                                    Revista Amazonia Investiga, 6(10), 78- 87.<br>
                                    Recuperado de: <a href="file:///C:/Users/Usuario/Downloads/633-2788-1-PB.pdf">file:///C:/Users/Usuario/Downloads/633-2788-1-PB.pdf</a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Rojas-Bahamón, M. J. López de Parra, M. L., Arbeláez Campillo, D. F. & Correa. Cruz, L. (2017). Rendimiento académico en estudiantes de secundaria según asignaturas,
                                    estrato socioeconómico y su contacto con el conflicto armado en Colombia Revista Latinoamericana de Estudios Educativos, 47(3/4),155-172. <br>
                                    Recuperado de <a href="https://search.proquest.com/openview/6cd232ece8c0a22ea51bc1e353ddaab2/1?pq-origsite=gscholar&cbl=29477">https://search.proquest.com/openview/6cd232ece8c0a22ea51bc1e353ddaab2/1?pq-origsite=gscholar&cbl=29477</a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Rojas, M. y López, M. (2017) Propuesta de práctica investigativa con la Webquest. Estrategia pedagógica de comprensión del concepto e importantica del “bosque”. Hamut´ay, 4 (2), 65-79. <br>
                                    Recuperado de <a href="http://dx.doi.org/10.21503/hamu.v4i2.1473">http://dx.doi.org/10.21503/hamu.v4i2.1473</a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>López de Parra, L., Rojas Bahamón, M., Correa Cruz, L. & Arbeláez Campillo, D. (2017). Normatividad y estrategias de formación de profesores en tecnologías de la información y la comunicación. Revista Academia y Virtualidad, 10(1), 79-94. <br>
                                    Reuperado de <a href="https://revistas.unimilitar.edu.co/index.php/ravi/article/view/2199/2512">https://revistas.unimilitar.edu.co/index.php/ravi/article/view/2199/2512</a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Pascuas Rengifo, Y., S., García Loaiza, B. & Chico, D. C. (2017). Un enfoque crítico que subyace tras la problemática ambiental generada por los residuos electrónicos. Revista Amazonia Investiga, 6(10), 89-93. <br>
                                    Recuperado de <a href="http://www.udla.edu.co/revistas/index.php/amazonia-investiga/article/view/635">http://www.udla.edu.co/revistas/index.php/amazonia-investiga/article/view/635</a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Pascuas Rengifo, Y. S., González Aldana, M. A., Perdomo Osorio, K. V. (2017). Aplicación de las TIC en modelos educativos blended learning: Una revisión sistemática de literatura.
                                    Sophia: Educación, 13(1), 144 - 154 , <br>
                                    Recuperado de DOI: <a href="http://dx.doi.org/10.18634/sophiaj.13v.1i.364">http://dx.doi.org/10.18634/sophiaj.13v.1i.364</a><br>
                                    Recuperado de <a href="http://www.scielo.org.co/pdf/sph/v13n1/v13n1a15.pdf">http://www.scielo.org.co/pdf/sph/v13n1/v13n1a15.pdf</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>

</style>
