<template>
    <div class="container">
        <div class="row">
            <div class="col s12 m2.4">
                <div class="card">
                    <h2 class="center"> <i class="material-icons">school</i></h2>
                    <h4 class="center">Investigación</h4>
                    <div class="card-action center">
                        <a><router-link to="grupos">Grupos</router-link></a>
                        <a><router-link  to="lineas">Líneas</router-link></a>
                        <a><router-link  to="programas">Programas</router-link></a>
                        <a><router-link  to="productos">Productos</router-link></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-panel">
                <h2 class="center">Programas de investigación</h2>
                <span>
                    Educación y Cultura Ambiental para la Preservación Hídrica, el Cambio Climático y la Seguridad Alimentaria en la Amazonia.
                    Objetivo del Programa de Investigación.Producir en el Doctorado de Educación y Cultura Ambiental propuestas de formación, investigación y extensión de manera articulada en el campo del saber relacionado con la educación y cultura ambiental, preservación del recurso hídrico, cambio climático y seguridad alimentaria en la Amazonia para ampliar el conocimiento y ser referente nacional e internacional, coordinar esfuerzos intersectoriales y generar capacidades: investigativas y gerenciales para promover políticas y de agenciamiento del recurso hídrico.
                </span>
                <table class="centered">
                    <tbody>
                        <tr>
                            <td>Objeto de estudio del programa de investigación</td>
                            <td colspan="2">Preservación hídrica en la Amazonia a través de la Educación y la Cultura Ambiental.</td>
                        </tr>
                        <tr>
                            <td>Interrogante programa de Investigación</td>
                            <td colspan="2">¿Cómo contribuye la educación y la cultura ambiental en la preservación hídrica en la Amazonia?</td>
                        </tr>
                        <tr>
                            <td>Interrogante del Macro-proyecto de Investigación</td>
                            <td colspan="2">¿Cómo desarrollar estrategias culturales y ambientales para la preservación hídrica en la Amazonia?</td>
                        </tr>
                        <tr>
                            <td rowspan="9">Áreas o campos de investigación</td>
                            <td>Educación para el territorio y gestión ambiental participativa</td>
                            <td>- Capacidad de agenciamiento.
                            - Desarrollo humano y rural.
                            -Cultura participativa empoderamiento: juego; herramientas lúdicas; teatro.
                            - Territorio.
                            - Ecoturismo: cultura ancestral del ambiente; educación para promover el ecoturismo hídrico; Representaciones Sociales para la creación de nuevos espacios eco turísticos; modelos eco-turísticos para la sostenibilidad del recurso hídrico
                            </td>
                        </tr>
                        <tr>
                            <td>Conflictualidad Social y Gobernanza</td>
                            <td>- Educación para el post-acuerdo colombiano.
                                - Factores de obsolescencia de la matriz de gobernabilidad.
                                - Conflictos por el territorio.
                                - Conflictos entre la producción y el ambiente
                            </td>
                        </tr>
                        <tr>
                            <td>Cambio Climático</td>
                            <td>- Energías sostenibles
                                - Reforestación.
                                - Educación para minimizar las emisiones de gases.
                                - Nuevos modelos de educación para la producción ganadera.
                            </td>
                        </tr>
                        <tr>
                            <td>Tecno-ciencia. Innovación Informática Educativa</td>
                            <td>- E-leraning ambiental de lo hídrico
                                - Investigación aplicada en TIC e Innovación Educativa para la sostenibilidad de lo hídrico.
                                - Modelos de innovación en uso de TIC para fomentar la cultura ambiental.
                                - Ambientes y Plataformas de Aprendizaje.
                            </td>
                        </tr>
                        <tr>
                            <td>Biodiversidad</td>
                            <td>- Modelos educativos para disminuir la desforestación.
                                - Cultura para evitar el tráfico de flora y fauna.
                                - Explotación minera energética.
                                - Modelos para la preservación de los afluentes hídricos.
                            </td>
                        </tr>
                        <tr>
                            <td>Seguridad Alimentaria</td>
                            <td>- Modelos de Educación para promover la productividad agrícola.
                                - Modelos para promover la sustentabilidad de los recursos naturales.
                                - Modelos para generar sistemas de información
                                - Modelos educativos para la transferencia de tecnología agrícola.
                            </td>
                        </tr>
                        <tr>
                            <td>Literatura. Artes escénicas</td>
                            <td>- Análisis del discurso: Cosmogonía-Cosmovisión.
                                - Narratología.
                                - El teatro
                                - La lúdica
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Hidrogeoquímica</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ética Ambiental</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>

</style>
