<template>
    <div>
        <!--  Pie de Página de la Página web DECA -->
        <footer class="page-footer lime accent-4">
            <div class="container">
            <div class="row">
                <div class="col l6 s12">
                <div class="contactenos">
                    <h5>Contactenos</h5>
                    <p><i class="tiny material-icons"> person </i> Coordinadora: Lillyam López de Parra</p>
                    <a href="mailto:deca@uniamazonia.edu.co"><i class="tiny material-icons"> email </i> Correo electrónico: deca@uniamazonia.edu.co</a>
                    <p><i class="tiny material-icons"> call </i> Celular: 3166676840</p>
                    <p><i class="tiny material-icons"> place </i> Dirección: Campus Porvenir</p>
                </div>
                </div>
                <div class="col l4 offset-l2 s12">
                <h5>Conexiones</h5>
                <ul>
                    <li><a href="http://www.colciencias.gov.co/">Colciencias</a></li>
                    <li><a href="http://www.uniamazonia.edu.co/">Universidad de la Amazonia</a></li>
                    <li><a href="https://www.sinchi.org.co/">Sinchi</a></li>
                    <li><a href="https://portal.icetex.gov.co/Portal">Icetex</a></li>
                </ul>
                </div>
            </div>
            <div class="row">
                <div class="card-panel">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.222965331535!2d-75.60725708540366!3d1.6203327610984335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e244e1db2f7e2ff%3A0x59f1685594ac4ad!2sUniversidad+De+La+Amazonia!5e0!3m2!1ses-419!2sco!4v1532436259080" width="600" height="450" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
            </div>
            <div class="footer-copyright">
            <div class="container">
            <a> Copyright © - Universidad de La Amazonia  - Todos los Derechos Reservados.</a>
            </div>
            </div>
        </footer>
    </div>
</template>

<script>
export default {
    data () {
        return{

        }
    }
}
</script>

<style lang="css" scoped>
    p, a, h5 {
        color: black;
    }
</style>>
