<template lang="html">
    <div class="section no-pad-bot" id="index-banner">
        <div class="row">
            <div class="col s12 m2">
                <img class="logo" src="@/assets/logo.png">
            </div>
            <div class="col s12 m10">
                <h1 class="header center">Doctorado en Educación y Cultura Ambiental</h1>
            </div>
        </div>
        <decaNav/>
    </div>
</template>

<script>
import decaNav  from '@/components/layouts/nav.vue'

export default {
    data () {
        return {

        }
    },
    components: {
        decaNav
    }
}
</script>

<style  lang="css" scoped>
    
</style>
