<template>
    <div>
        <!-- Navegación de la Página DECA-->
        <nav class="lime accent-4" role="navigation">
            <div class="nav-wrapper container ">
            <ul class="right hide-on-med-and-down">
                <li><router-link to="/">Inicio</router-link></li>
                <li><router-link to="informacion">Información</router-link></li>
                <li><router-link to="profesores">Profesores</router-link></li>
                <li><router-link to="normatividad">Normatividad</router-link></li>
                <li><router-link to="direcciontesis">Dirección de Tesis</router-link></li>
                <li><router-link to="fechas">Fechas</router-link></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><router-link to="/">Inicio</router-link></li>
                <li><router-link to="informacion">Información</router-link></li>
                <li><router-link to="profesores">Profesores</router-link></li>
                <li><router-link to="normatividad">Normatividad</router-link></li>
                <li><router-link to="direcciontesis">Dirección de Tesis</router-link></li>
                <li><router-link to="fechas">Fechas</router-link></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>
</template>

<script>
import  inicio from '@/components/inicio.vue'

export default {
    name: 'navegacion',
    mounted () {
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    }
}
</script>

<style lang="css" scoped>
    a {
        color: black;
    }
</style>
