<template>
    <div class="container">
        <br><br>
        <!--Slider de imágenes del inicio-->
        <div class="slider">
            <ul class="slides">
                <li><img src="@/assets/images/Doctorado1.jpg"></li>
                <li><img src="@/assets/images/Doctorado2.jpg"></li>
                <li><img src="@/assets/images/Doctorado3.jpg"></li>
                <li><img src="@/assets/images/Doctorado4.jpg"></li>
                <li><img src="@/assets/images/Doctorado5.jpg"></li>
                <li><img src="@/assets/images/Doctorado6.jpg"></li>
            </ul>
        </div>
        <!--Sección de quienes somos-->
        <div class="row">
            <div class="col s12 m2.4">
                <div class="card">
                    <h2 class="center"> <i class="material-icons">account_balance</i></h2>
                    <h4 class="center">¿Quienes Somos?</h4>
                    <div class="card-action center">
                        <a><router-link to="presentacion">Presentación</router-link></a>
                        <a><router-link  to="justificacion">Justificación</router-link></a>
                        <a><router-link  to="perfiles">Perfiles</router-link></a>
                        <a><router-link to="competencias">Competencias</router-link></a>
                    </div>
                </div>
            </div>
        </div>
        <!--Sección del Plan de estudio-->
        <div class="row">
            <div class="col s12 m2.4">
                <div class="card">
                    <h2 class="center"> <i class="material-icons">import_contacts</i></h2>
                    <h4 class="center">Plan de Estudio</h4>
                    <div class="card-action center">
                        <a><router-link to="espacios">Espacios Académicos</router-link></a>
                        <a><router-link  to="criterios">Criterios</router-link></a>
                        <a><router-link  to="requisitos">Requisitos</router-link></a>
                    </div>
                </div>
            </div>
        </div>
        <!--Sección del Investigación-->
        <div class="row">
            <div class="col s12 m2.4">
                <div class="card">
                    <h2 class="center"> <i class="material-icons">school</i></h2>
                    <h4 class="center">Investigación</h4>
                    <div class="card-action center">
                        <a><router-link to="grupos">Grupos</router-link></a>
                        <a><router-link  to="lineas">Líneas</router-link></a>
                        <a><router-link  to="programas">Programas</router-link></a>
                        <a><router-link  to="productos">Productos</router-link></a>
                    </div>
                </div>
            </div>
        </div>
        <!--Sección de Internacionalización-->
        <div class="row">
            <div class="col s12 m2.4">
                <div class="card">
                    <h2 class="center"> <i class="material-icons">language</i></h2>
                    <h4 class="center">Internacionalización</h4>
                    <div class="card-action center">
                        <a><router-link to="internacionalizacion">Convenios Internacionales</router-link></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'inicio',
    // aqui va el script necesario para correr las imágenes del slider del incio de la página
    created () {
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.slider');
            var instances = M.Slider.init(elems);
        });
    },
     mounted () {
        console.log('probando dos');
        require('@/assets/materialize/js/materialize.js');
    }
}
</script>

<style lang="css">

    div.col.s12 .card{
        background-color: #ecf0f1;
    }

    .collection a.collection-item {
        color: #000000;
    }


/*este espacio es para justificar todos los textos*/
    .container h3,.container p,h4,h5{
        text-align:justify
    }

/*Este espacio le agrega color gris a todo el campo de somos, plan de estudio, investigación  e internacionalización */
    div.col.s12 .card{
        background-color: #ecf0f1;
    }
/*Este espacio maneja el color de todos los textos y los campos de somos, plan de estudio, etc*/
    .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
        color: #201A2E;
        text-transform: capitalize;
    }

    .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover{
        color: #7DC242;
    }

</style>
