<template>
    <div class="container">
        <div class="row">
            <div class="card-panel">
                <h2 class="center">Convenios Instituciones /Organizaciones Internacionales</h2>
                <table>
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Universidades /Instituciones/Organizaciones Internacionales</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>144 - 01</td>
                            <td>Escuela de Agricultura Tropical Húmeda. EARTH. Costa Rica </td>
                        </tr>
                        <tr>
                            <td>193 - 2002</td>
                            <td>Universidad Politécnica de Madrid (U. P.M.)</td>
                        </tr>
                        <tr>
                            <td>323 - 06</td>
                            <td>Universidad Nacional Autónoma de México. UNAM</td>
                        </tr>
                        <tr>
                            <td>005-12</td>
                            <td>Universidad Federal Do Para</td>
                        </tr>
                        <tr>
                            <td>77</td>
                            <td>Escuela Superior de Agricultura Luiz de Queiroz de la Universidad de Sao Paulo</td>
                        </tr>
                        <tr>
                            <td>055-17</td>
                            <td>Universidad Autónoma de Aguas Calientes. México</td>
                        </tr>
                        <tr>
                            <td>057-07</td>
                            <td>Universidad de Girona (España)</td>
                        </tr>
                        <tr>
                            <td>037-12</td>
                            <td>Instituto Superior de Tecnologías y Ciencias Aplicadas (INSTEC) Cuba</td>
                        </tr>
                        <tr>
                            <td>032-13</td>
                            <td>Universidad Nacional de Río Cuarto. Argentina</td>
                        </tr>
                        <tr>
                            <td>008-13</td>
                            <td>Universidad Católica de la Santísima Concepción de Chile</td>
                        </tr>
                        <tr>
                            <td>051-14</td>
                            <td>La Universidad Autónoma de Zacatecas "Francisco García Salinas" ICA de Economía. México.</td>
                        </tr>
                        <tr>
                            <td>043-15</td>
                            <td>Universidad Estadual Da Paraiba. Brasil</td>
                        </tr>
                        <tr>
                            <td>73A-15</td>
                            <td>Universidad Estadual do Norte Fluminense Darcy Ribeiro. Brasil</td>
                        </tr>
                        <tr>
                            <td>005-16</td>
                            <td>Instituto Pensamiento y Cultura en América Latina - IPECAL. México</td>
                        </tr>
                        <tr>
                            <td>025-16</td>
                            <td>El Centro Agronómico Tropical de Investigación y Enseñanza - CATIE</td>
                        </tr>
                        <tr>
                            <td>048-16</td>
                            <td>La Universidad Central "Marta Abreu" de las Villas, Cuba - UCVL</td>
                        </tr>
                        <tr>
                            <td>008-17</td>
                            <td>Universidad del país Vasco/Euskal Herriko Inivertsitatea. España</td>
                        </tr>
                        <tr>
                            <td>349-06</td>
                            <td>Universidad Ricardo Palma-Perú</td>
                        </tr>
                        <tr>
                            <td>186-2003</td>
                            <td>Corporación Universitaria de Ciencias Aplicadas y Ambientales (U.D.C.A.)</td>
                        </tr>
                        <tr>
                            <td>327 - 06</td>
                            <td>Facultades de Educación de las Universidades Cundinamarca, Surcolombiana y Tolima</td>
                        </tr>
                        <tr>
                            <td>020-11</td>
                            <td>Universidad Distrital "Francisco José de Caldas"</td>
                        </tr>
                        <tr>
                            <td>004-12</td>
                            <td>Universidad de Nariño</td>
                        </tr>
                        <tr>
                            <td>001-A-13</td>
                            <td>Francisco de Paula Santander, Pamplona y Surcolombiana</td>
                        </tr>
                        <tr>
                            <td>004-13</td>
                            <td>Universidad del Cauca</td>
                        </tr>
                        <tr>
                            <td>009-13</td>
                            <td>Universidad de Caldas</td>
                        </tr>
                        <tr>
                            <td>328-06</td>
                            <td>Universidad de Pamplona</td>
                        </tr>
                        <tr>
                            <td>025-13</td>
                            <td>Universidad Nacional de Colombia</td>
                        </tr>
                        <tr>
                            <td>040-12</td>
                            <td>Universidad del Tolima</td>
                        </tr>
                        <tr>
                            <td>081-12</td>
                            <td>Universidad del Quindío</td>
                        </tr>
                        <tr>
                            <td>003-14</td>
                            <td>Universidad Católica de Oriente. Antioquia</td>
                        </tr>
                        <tr>
                            <td>009-14</td>
                            <td>Universidad de Antioquia</td>
                        </tr>
                        <tr>
                            <td>042-15</td>
                            <td>Universidad de San Buenaventura Seccional Cali</td>
                        </tr>
                        <tr>
                            <td>069A-15</td>
                            <td>Universidad de los Andes. Bogotá</td>
                        </tr>
                        <tr>
                            <td>089-15</td>
                            <td>AIESEC en Colombia. Bogotá.</td>
                        </tr>
                        <tr>
                            <td>007-16</td>
                            <td>Pontifica Universidad Javeriana. Bogotá</td>
                        </tr>
                        <tr>
                            <td>050-16</td>
                            <td>Universidad Surcolombiana</td>
                        </tr>
                        <tr>
                            <td>058-16</td>
                            <td>Universidad de la Salle</td>
                        </tr>
                        <tr>
                            <td>045-16</td>
                            <td>Universidad Pedagógica y Tecnológica de Colombia - UPTC. Tunja</td>
                        </tr>
                        <tr>
                            <td>030A-16</td>
                            <td>Universidad Central. Bogotá</td>
                        </tr>
                        <tr>
                            <td>035A-16</td>
                            <td>Universidad Distrital Francisco José de Caldas (UDFJC), la Universidad de la Amazonia (UA), la Corporación para el Desarrollo Sostenible del Sur de la Amazonia (Corpoamazonia), y el Instituto Tecnológico del Putumayo (ITP). Putumayo</td>
                        </tr>
                        <tr>
                            <td>014-09</td>
                            <td>Gobernación Del Amazonas</td>
                        </tr>
                        <tr>
                            <td>037-09</td>
                            <td>INVIMA. Bogotá</td>
                        </tr>
                        <tr>
                            <td>015-11</td>
                            <td>La Fiduciaria Bogotá S.A. Como vocera del patrimonio autónomo denominado Fondo Nacional de Financiamiento para la Ciencia, la Tecnología y la Innovación Francisco José de Caldas</td>
                        </tr>
                        <tr>
                            <td>30 de 2012</td>
                            <td>Dirección Territorial Amazonia de Parques Nacionales Naturales de Colombia</td>
                        </tr>
                        <tr>
                            <td>059-16</td>
                            <td>Federación Nacional Sindical Unitaria Agropecuaria - FENSUAGRO. Bogotá</td>
                        </tr>
                        <tr>
                            <td>013-11</td>
                            <td>SINCHI - 029-1996. Florencia</td>
                        </tr>
                        <tr>
                            <td>025-14</td>
                            <td>ICA. Florencia</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>

</style>
