<template>
  <div id="app">
    <div>
      <decaHeader/>
        <router-view/>
      <decaFooter/>
    </div>
  </div>
</template>

<script>
import decaHeader from  '@/components/layouts/header.vue'
import decaFooter from '@/components/layouts/footer.vue'

import  inicio from '@/components/inicio.vue'

export default {
  name: 'app',
  components: {
    decaHeader,
    decaFooter
  },
  data () {
    return {

    }
  }
}
</script>

<style lang="scss">
  @import './assets/materialize/css/materialize.css';
  @import './assets/materialize/css/materialize.min.css';

</style>
