<template>
    <div class="container">
        <div class="row card-panel">
            <h2 class="center-align">Dirección de Tesis</h2>
            <ul class="collection">
                <li class="collection-item avatar">
                    <img src="@/assets/images/hombre.jpg" alt="Contact Person" class="circle responsive-img">
                    <h3 class="center">Gelber Rosas Patiño</h3>
                    <h4>Título</h4>
                    <span>PhD en Ciencias Agrarias. Universidad Nacional de Colombia</span>
                    <h4>Correo electrónico</h4>
                    <span>g.rosas@udla.edu.co</span>
                    <h4>Cvlac</h4>
                    <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000353051">http://scienti.colciencias</a>
                    <h4>Trabajo de tesis</h4>
                    <p>Modelo de Educación Ambiental sustentando en investigación para la conservación de los Robledales del Parque Natural Regional Serranía de minas, Oporapa- Huila.</p>
                </li>
                <li class="collection-item avatar">
                    <img src="@/assets/images/Claudiayolanda.png" alt="Contact Person" class="circle responsive-img">
                    <h3 class="center">Claudia Yolanda Reyes</h3>
                    <h4>Título</h4>
                    <span>PhD en Ingeniería. Universidad Distrital Francisco José de Caldas</span>
                    <h4>Correo electrónico</h4>
                    <span>cl.reyes@udla.edu.co</span>
                    <h4>Cvlac</h4>
                    <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000833975">http://scienti.colciencias</a>
                    <h4>Trabajo de tesis</h4>
                    <p>Modelo de Educación Ambiental no formal mediada por Tecnologías de la Información y la Comunicación para el fomento del Ecoturismo Comunitario Sostenible.</p>
                </li>
                <li class="collection-item avatar">
                    <img src="@/assets/images/Edwinmillan.png" alt="Contact Person" class="circle responsive-img">
                    <h3 class="center">Edwin Eduardo Millán Rojas</h3>
                    <h4>Título</h4>
                    <span>PhD en Geología. Universidad Federal Da Bahia (Brasil).</span>
                    <h4>Correo electrónico</h4>
                    <span>e.millan@udla.edu.co</span>
                    <h4>Cvlac</h4>
                    <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000208701">http://scienti.colciencias</a>
                    <h4>Trabajo de tesis</h4>
                    <p>Contribución del Ecoturismo para la formación en  conservación de las fuentes hídricas en el Municipio de Oporapa, Colombia.</p>
                </li>
                <li class="collection-item avatar">
                    <img src="@/assets/images/Gloriaelena.jpg" alt="Contact Person" class="circle responsive-img">
                    <h3 class="center">Gloria Elena Estrada Cely</h3>
                    <h4>Título</h4>
                    <span>PhD en Bioética Universidad del Bosque</span>
                    <h4>Correo electrónico</h4>
                    <span>gestmvz@gmail.com</span>
                    <h4>Cvlac</h4>
                    <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000345687">http://scienti.colciencias</a>
                    <h4>Trabajo de tesis</h4>
                    <p>Ecopedagogía bioética para la conservación de la fauna silvestre en las Instituciones de Educación Básica Secundaria de Florencia-Caquetá-Colombia.</p>
                </li>
                <li class="collection-item avatar">
                    <img src="@/assets/images/mujer.png" alt="Contact Person" class="circle responsive-img">
                    <h3 class="center">Claudia Stella Hernández Londoño</h3>
                    <h4>Título</h4>
                    <span>PhD en Ingeniería Química. Universidad Nacional de Colombia Sede Bogotá</span>
                    <h4>Correo electrónico</h4>
                    <span>claudiahiq@gmail.com</span>
                    <h4>Cvlac</h4>
                    <a href="https://scienti.colciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000712809">http://scienti.colciencias</a>
                    <h4>Trabajo de tesis</h4>
                    <p>Estrategias de formación agropecuaria comunitaria para la seguridad y soberanía alimentaria del sector rural de Villa Hermosa Corregimiento de Santo Domingo del Municipio de Florencia.</p>
                </li>
                <li class="collection-item avatar">
                    <img src="@/assets/images/RubenPardo.jpg" alt="Contact Person" class="circle responsive-img">
                    <h3 class="center">Rubén Darío Pardo Santamaría</h3>
                    <h4>Título</h4>
                    <span>PhD en Ciencias Sociales. Pontificia Universidad Gregoriana de Roma</span>
                    <h4>Correo electrónico</h4>
                    <span></span>
                    <h4>Cvlac</h4>
                    <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0001351675">http://scienti.colciencias</a>
                    <h4>Trabajo de tesis</h4>
                    <p>Participación de las organizaciones socioambientales en la defensa del territorio, frente al extractivismo minero energético en el Departamento del Caquetá Colombia.</p>
                </li>
                <li class="collection-item avatar">
                    <img src="@/assets/images/hombre.jpg" alt="Contact Person" class="circle responsive-img">
                    <h3 class="center">Juan Pablo Parra Herrera</h3>
                    <h4>Título</h4>
                    <span>PhD en Ciencias Naturales y Desarrollo Sustentable. Universidad de la Amazonia</span>
                    <h4>Correo electrónico</h4>
                    <span>juanfauna@gmail.com</span>
                    <h4>Cvlac</h4>
                    <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000834173">http://scienti.colciencias</a>
                    <h4>Trabajo de tesis</h4>
                    <p>Propuesta pedagógica para el tratamiento de residuos sólidos inorgánicos. Aportes de saberes ancestrales de las Comunidades Indígenas</p>
                </li>
                <li class="collection-item avatar">
                    <img src="@/assets/images/AlbertoLoaiza.png" alt="Contact Person" class="circle responsive-img">
                    <h3 class="center">Alberto Loaiza Gómez</h3>
                    <h4>Título</h4>
                    <span>PhD en Diagnóstico y métodos de investigación. Universidad de Sevilla.</span>
                    <h4>Correo electrónico</h4>
                    <span>allogo2711@gmail.com</span>
                    <h4>Cvlac</h4>
                    <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000210633">http://scienti.colciencias</a>
                    <h4>Trabajo de tesis</h4>
                    <p>El pensamiento matemático sobre las percepciones en la conservación del agua en estudiantes y profesores de las Instituciones Educativas de Neiva</p>
                </li>
                <li class="collection-item avatar">
                    <img src="@/assets/images/ElkinTilvez.jpg" alt="Contact Person" class="circle responsive-img">
                    <h3 class="center">Elkin Alberto Tilvez Marrugo</h3>
                    <h4>Título</h4>
                    <span>PhD en Química Teórica y Modelización Computacional. Universidad de Oviedo España.</span>
                    <h4>Correo electrónico</h4>
                    <span>elkintilvez@gmail.com</span>
                    <h4>Cvlac</h4>
                    <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0001292129">http://scienti.colciencias</a>
                    <h4>Trabajo de tesis</h4>
                    <p>Construcción de un currículo neosistémico para el uso sustentable del agua</p>
                </li>
                 <li class="collection-item avatar">
                    <img src="@/assets/images/hombre.jpg" alt="Contact Person" class="circle responsive-img">
                    <h3 class="center">Bernardo Emilio García Quiroga</h3>
                    <h4>Título</h4>
                    <span>PhD en Ciencias Pedagógicas. Instituto Central de Ciencias Pedagógicas (Habana Cuba).</span>
                    <h4>Correo electrónico</h4>
                    <span>bgarciaquiroga@hotmail.com</span>
                    <h4>Cvlac</h4>
                    <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000815888">http://scienti.colciencias</a>
                    <h4>Trabajo de tesis</h4>
                    <p>Aportes de la modelación matemática a la construcción de conocimiento sobre conservación del agua con Estudiantes de Educación Básica Primaria. Ecoalfabetización y Gamificación: una alternativa educativa frente a los residuos electrónicos.</p>
                </li>
                <li class="collection-item avatar">
                    <img src="@/assets/images/MariaEschenhagen.jpg" alt="Contact Person" class="circle responsive-img">
                    <h3 class="center">María Luisa Eschenhagen Durán</h3>
                    <h4>Título</h4>
                    <span>PhD en Educación. Universidad Autónoma de México.</span>
                    <h4>Correo electrónico</h4>
                    <span>bgarciaquiroga@hotmail.com</span>
                    <h4>Cvlac</h4>
                    <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000705179">http://scienti.colciencias</a>
                    <h4>Trabajo de tesis</h4>
                    <p>Coherencias y tensiones entre los Proyectos Ambientales Escolares y las teorías de Educación Ambiental.</p>
                </li>
                <li class="collection-item avatar">
                    <img src="@/assets/images/mujer.png" alt="Contact Person" class="circle responsive-img">
                    <h3 class="center">Lillyam López de Parra</h3>
                    <h4>Título</h4>
                    <span>PhD en Interinstitucional en Educación. Universidad Distrital Francisco José de Caldas.</span>
                    <h4>Correo electrónico</h4>
                    <span>lillyamlopez@yahoo.es</span>
                    <h4>Cvlac</h4>
                    <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000225550">http://scienti.colciencias</a>
                    <h4>Trabajo de tesis</h4>
                    <p>
                        Representaciones sociales: Dimensiones Educativa y Ambiental del Ecoturismo y Conservación del Territorio en el posacuerdo. Incidencia de  la formación socio cultural en turismo de naturaleza sobre las percepciones de la mitigación de la deforestación. Representaciones Sociales sobre condiciones educativas y culturales para la preservación hídrica. Agentes Socioculturales. Florencia Caquetá.
                    </p>
                </li>
                <li class="collection-item avatar">
                    <img src="@/assets/images/mujer.png" alt="Contact Person" class="circle responsive-img">
                    <h3 class="center">Guillermina Rojas Noriega</h3>
                    <h4>Título</h4>
                    <span>PhD en Ciencias Pedagógicas. Instituto Central de Ciencias Pedagógicas (Habana Cuba).</span>
                    <h4>Correo electrónico</h4>
                    <span>guillerminarojasn@gmail.com</span>
                    <h4>Cvlac</h4>
                    <a href="https://scienti.colciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000722251">http://scienti.colciencias</a>
                    <h4>Trabajo de tesis</h4>
                    <p>
                        Juego educativo y huella hídrica: alternativa que sensibiliza estudiantes universitarios en la gestión del recurso hídrico.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name:'diretesis',
}
</script>

<style lang="scss" scoped>

</style>
