<template>
    <div class="container">
        <div class="card gray light-8">
            <div class="card-content black-text">
                <h2 class="center-align">Fechas Importantes</h2>
                <span>
                    <b>Inscripción:</b> 19 de Julio de 2018 a Agosto 08 de 2018.
                </span>
                <br>
                <span>
                    <b>Entrega de documentos para la inscripción:</b> Hasta el 08 de Agosto de 2018.
                </span>
                <br>
                <span>
                    <b>Proceso de selección:</b> presentación de la propuesta de investigación y de la entrevista: 09 de Agosto hasta el 18 de Agosto de 2018.
                </span>
                <br>
                <span>
                    <b>Publicación listado de Admitidos:</b> 20 de Agosto de 2018.
                </span>
            </div>
            <div class="card-action black-text">
                <span>
                    <b>Lugar:</b> Sala Putumayo. Sede Porvenir. Universidad de la Amazonia.
                </span>
                <br>
                <span>
                    <b>Seminario Educación y Cultura Ambiental:</b> 10 al 15 de septiembre.
                </span>
                <br>
                <span>
                    <b>Seminario investigación:</b> 08 al 13 de octubre.
                </span>
                <br>
            </div>
        </div>
    </div>
</template>

<script>
export default {
     name: 'fechas'
}
</script>

<style lang="scss" scoped>

</style>
