<template>
    <div class="container">
        <div class="col 12">
            <div class="row center">
                <h2>Información</h2>
                <table class="striped">
                    <tbody>
                        <tr>
                            <td>Institución</td>
                            <td>Universidad de la Amazonia</td>
                        </tr>
                        <tr>
                            <td>Nombre del programa</td>
                            <td>Doctorado en Educación y Cultura Ambiental</td>
                        </tr>
                        <tr>
                            <td>Nivel</td>
                            <td>Doctorado</td>
                        </tr>
                        <tr>
                            <td>Código SNIES</td>
                            <td>103413</td>
                        </tr>
                        <tr>
                            <td>Metodología</td>
                            <td>Presencial de tiempo completo</td>
                        </tr>
                        <tr>
                            <td>Área de conocimiento</td>
                            <td>Educación, ambiental y Cultura</td>
                        </tr>
                        <tr>
                            <td>Número de Créditos</td>
                            <td>100 (cien)</td>
                        </tr>
                        <tr>
                            <td>Periocidad de la Admisión</td>
                            <td>Bienal</td>
                        </tr>
                        <tr>
                            <td>Valor de inscripción</td>
                            <td>$ 157.000 Pesos MC/TE</td>
                        </tr>
                        <tr>
                            <td>Valor de la matricula</td>
                            <td>
                                <ul>
                                    <h5>Matricula por semestre</h5>
                                    <li>Cinco punto cinco (5.5) Salario Mínimo legal Vigente</li>
                                    <br>
                                    <h5>Derecho Complementario</h5>
                                    <li>Cinco (5) Salario Mínimo legal Vigente</li>
                                    <br>
                                    <h5>Total</h5>
                                    <li>Diez punto cinco (10.5) Salario Mínimo legal Vigente</li>
                                </ul>
                                <span>Para mayor información descargar en el siguiente enlace: <a href="./src/assets/download/Acuerdomatricula.zip" download="Alza matricula.zip" onclick="M.toast({html: 'descargando el archivo'})"> Alza de Matricula</a></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Requisitos de inscripción</td>
                            <td>
                                <span>Descargar el siguiente enlace: <a href="./src/assets/download/Requisitosinscripcion.zip" download="Requisitos de Inscripcion.zip" onclick="M.toast({html: 'descargando el archivo'})">Requisitos de inscripción</a></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Requisitos de Admisición</td>
                            <td>
                                <span>Descargar el siguiente enlace: <a href="./src/assets/download/RequisitosAdmision.zip" download="Requisitos de Admision.zip" onclick="M.toast({html: 'descargando el archivo'})"> Requisitos de Admisión</a></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: 'informacion',

}
</script>

<style lang="scss" scoped>

</style>

