<template>
    <div class="container">
        <div class="card-panel">
            <h2 class="center">Normatividad</h2>
            <ul>
                <li>Acuerdo 22  02 de septiembre del 2014 “Por el cual se adopta el estatuto de Posgrados de la Universidad de la Amazonia y se establecen otras disposiciones”Acuerdo 22 Por el cual se adopta el Estatuto de Posgrados de la Universidad de la Amazonia y se estabalecen otras disposicione.</li>
                <br>
                <li>Resolución número 10167 del 26 de junio del 2014 “por medio de la cual se resuelve la solicitud de registro calificado del programa del Doctorado en Educación y Cultura Ambiental de la Universidad de la Amazonia para ser ofrecido bajo la metodología presencial en Florencia Caquetá”.Resolucion 10167 Registro calificado.</li>
                <br>
                <li>Acuerdo 30 29 de agosto del 2017 “por el cual se modifican los artículos 3 y 4 del acuerdo 08 del 2013”Acuerdo 30.</li>
                <br>
                <li>Acuerdo N° 08 del 24 de Mayo del 2013 “Por el cual se autoriza la creación del Doctorado Interinstitucional en Educación y Cultura Ambiental”   Acuerdo 08 del 2013 por el cual se autoriza la creación.</li>
                <br>
                <li>Resolución N° 10167 del 26 de junio del 2014 “por medio de la cual se resuelve la solicitud de registro calificado la programa de doctorado en educación y cultura ambiental de la universidad de la amazonia, para ser ofrecido bajo la metodología presencial en Florencia – Caquetá” Resolucion 10167 Registro calificado.</li>
                <br>
                <li>Acuerdo N° 57 del 22 de noviembre del 2017 “por medio de la cual se modifica el plan de estudio del programa doctorado en educación y cultura ambiental de la universidad de la amazonia”  Acuerdo 57 Modif. Plan de Estudios DECA.</li>
                <br>
                <li>Resolución N° 08992 del 5 de junio de 2018, expedida por el Ministerio de Educación Nacional mediante la cual se resuelve aprobar la modificación propuesta por la Universidad de la Amazonia para el programa Doctorado en Educación y Cultura Ambiental, ofrecida bajo la metodología presencial en Florencia (Caquetá), con relación al plan de estudio (Art. 1).</li>
            </ul>
            <br>
            <h5>Norma de creación:</h5>
            <ul>
                <li>Resolución del Ministerios de Educación nacional No. 10167 del 26 de Junio del 2014 por medio de la cual se resuelve la solicitud de registro calificado del programa del Doctorado en Educación y Cultura Ambiental de la Universidad de la Amazonia para ser ofrecido bajo la metodología presencial en Florencia Caquetá. Vigencia de 7 años.</li>
                <a href="./src/assets/download/Resolucion10167.zip" download="Resolución 10167 Registro Calificado" onclick="M.toast({html: 'descargando el archivo'})">Resolución 10167 Registro Calificado.zip</a>
                <br><br>
                <li>Resolución del Ministerios de Educación nacional No. 08992 del 05 de Junio del 2018 por medio de la cual se aprueba la modificación al plan de estudio del Doctorado en Educación y Cultura Ambiental de la Universidad de la Amazonia para ser ofrecido bajo la metodología presencial en Florencia Caquetá.</li>
                <a href="./src/assets/download/RESOLUCION08992.zip" download="RESOLUCION 08992 DE 2018" onclick="M.toast({html: 'descargando el archivo'})">RESOLUCION 08992 DE 2018.zip</a>
                <br><br>
                <li>Acuerdo del Consejo Superior de la Universidad de la Amazonia No. 08 de mayo 24 de 2013, por el cual se autoriza la creación del Doctorado en Educación y Cultura Ambiental.</li>
                <a href="./src/assets/download/Acuerdo08.zip" download="Acuerdo 08.zip" onclick="M.toast({html: 'descargando el archivo'})">Acuerdo 08 del 2013.zip</a>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: "normatividad",

}
</script>

<style lang="scss" scoped>

    a {
        color: black;
    }

</style>
