<template>
    <div class="container">
        <div class="card-panel">
            <div class="collection">
                <a class="collection-item center"><router-link to="primeracohorte">Primera Cohorte</router-link></a>
                <a class="collection-item center"><router-link to="segundacohorte">Segunda Cohorte</router-link></a>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'profesores',
}
</script>


<style lang="scss" scoped>

</style>

